@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Outfit', sans-serif;
}


@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
